body {
    background-color: #090909; 
    color: #fafafa; 
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}