@import "tailwindcss";
:root {
  --bg-page: #f2f2f2;
  --bg-surface: #e6e6e6;

  --text-primary: #0d0d0d;
  --text-secondary: #1a1a1a;

  --color-accent: #4fcabe;
  --color-accent-hover: #72d5cb;
  --text-tertiary: #2f7972;
  --color-border: #d9d9d9;

  --color-destructive: #cc3333;
  --color-destructive-hover: #a02828;

  --color-checked-bg: #191919;

  --blur-bg: rgba(242, 242, 242, 0.85);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-page: #000000;
    --bg-surface: #1a1a1a;

    --text-primary: #ffffff;
    --text-secondary: #c7c7c7;

    --color-accent: #4fcabe;
    --color-accent-hover: #3fa298;
    --text-tertiary: #2f7972;
    --color-border: #4d4d4d;

    --color-destructive: #cc3333;
    --color-destructive-hover: #a02828;
    --color-checked-bg: #191919;

    --blur-bg: rgba(242, 242, 242, 0.85);
  }
}

@theme inline {
  --color-bg-body: var(--bg-page);
  --color-bg-card: var(--bg-surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-tertiary: var(--text-tertiary);
  --color-border: var(--color-border);

  --color-text-destructive: var(--color-destructive);

  --color-destructive: var(--color-destructive);
  --color-destructive-hover: var(--color-destructive-hover);
  --color-blur-bg: var(--blur-bg);
  --color-checked-bg: var(--color-checked-bg);
}

body {
  background: var(--color-bg-body);
  color: var(--color-text-primary);
  font-family: "Poppins", sans-serif;
}

::selection {
  background: var(--color-checked-bg);
  color: var(--color-accent);
}

.logo-invertible {
  filter: invert(1);
  transition: filter 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .logo-invertible {
    filter: none;
  }
}
